/*
 * ------ General ------
 */

:root {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;

  --color--dark: #40225f;
  --color--bright: #fff;
  --color--pink-rose: #94384a;
  --color--bubblegum: #b53150;

  --color--base-start: #667eea;
  --color--base-end: #764ba2;

  --color--box-1: #f78ca0;
  --color--box-2: #f9748f;
  --color--box-3: #fd868c;
  --color--box-4: #fe9a8b;

  --breakpoint--tablet: 768px;
  --breakpoint--mobile: 440px;
  --breakpoint--small-screens: 320px;
}

*::selection {
  background: var(--color--pink-rose);
  color: var(--color--bright);
  text-shadow: none;
}

a:link,
a:visited {
  color: var(--color--pink-rose);
  text-decoration: none;
}

a:link:hover,
a:visited:hover {
  color: var(--color--bubblegum);
  text-decoration: underline;
}

/*
 * ------ Main layout ------
 */
body {
  align-items: center;
  background-image: linear-gradient(
    135deg,
    var(--color--base-start) 0%,
    var(--color--base-end) 100%
  );
  color: var(--color--bright);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.layout {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  position: relative;
}

/**
 * ------ Logo ------
 */
.logo {
  backface-visibility: hidden;
  cursor: pointer;
  width: 60px;
  height: 60px;
  fill: var(--color--dark);
  position: absolute;
  outline: 0;
  top: 50%;
  transition: all .3s ease;
}

.logo:hover,
.logo:focus {
  fill: #f78ca0;
  transform: scale(1.2);
}

.logo:active {
  transform: scale(.9);
}

.logo.is-turn {
  transform: scale(.1) translateY(-500px);
  opacity: 0;
}

/**
 * ------ Waves ------
 */
.waves {
  height: 50%;
  position: fixed;
  right: 0;
  top: 0;
  transition: height .4s ease;
  width: 100%;
  z-index: -1;
}

.waves path {
  fill: rgba(255, 255, 255, .1);
}

.waves path:first-child {
  d: path('M840,380c0,0-20-180.1-130-180.1c-130,0-140.5-60.5-210-130C430.2.1,240,0,240,0h600V380.1z');
}

.waves path:last-child {
  d: path('M840,380c0,0-30-300-180-210c-180,105-290-10-340-64C230,5,0,0,0,0h840V380z');
}

/*
 * ------ Box ------
 */
.box {
  backface-visibility: hidden;
  background-image: linear-gradient(
      to right,
      var(--color--box-1) 0%,
      var(--color--box-2) 19%,
      var(--color--box-3) 60%,
      var(--color--box-4) 100%
  );
  border-radius: 6px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: var(--color--bright);
  max-width: var(--breakpoint--tablet);
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: perspective(680px) rotateX(4500deg) scale(.1);
  transition:
    all 1s cubic-bezier(0.25, 0.1, 0.32, 1.1),
    width .2s ease,
    margin .2s ease,
    left .2s ease;
  will-change: transform, width, margin, left;
  width: calc(100% - 180px);
}

.box.is-turn {
  backface-visibility: visible;
  box-shadow: 0 8px 0 rgba(0, 0, 0, .2);
  opacity: 1;
  transform: perspective(680px) translateY(-50%) rotateX(0);
}

.box .waves {
  position: absolute;
  height: 100%;
}

.content {
  padding: 15px 30px;
  position: relative;
}

.content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

/*
 * ------ Close button ------
 */
.box-close {
  background: none;
  border: 0;
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--color--bright);
  cursor: pointer;
  font-size: 22px;
  height: 30px;
  outline: 0;
  padding: 0 0 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all .3s ease;
  width: 30px;
  z-index: 100;
}

.box-close:hover {
  color: var(--color--dark);
}

.box-close:active,
.box-close:focus {
  background-color: var(--color--bright);
  color: var(--color--dark);
}

/*
 * ------ Contact ------
 */
.contact-methods {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.contact-methods .contact {
  fill: var(--color--pink-rose);
  margin: 0 10px;
  transition: all .3s ease;
}

.contact-methods .contact:hover {
  fill: var(--color--bright);
  margin: 0 10px;
}

.footer {
  color: var(--color--dark);
  font-size: 13px;
  font-weight: 300;
  padding: 10px 0;
}

.logo-background {
  fill: rgba(0, 0, 0, .04);
  left: -240px;
  position: fixed;
  top: -80px;
  width: 100%;
  z-index: -1;
}

/*
 * ------ Mobile ------
 */
.ie-disclaimer {
  background: var(--color--bubblegum);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, .3);
  display: none;
  left: 0;
  opacity: .9;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

/*
 * ------ Mobile ------
 */
@media (max-width: 768px) {
  .box {
    left: 0;
    margin: 30px;
    width: calc(100% - 60px);
  }

  .box .waves {
    height: 20%;
  }
}

@media (max-width: 320px) {
  .box {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie-disclaimer {
    display: block;
  }
}
